/***** BASE STYLES *****/
body {
    font-family: 'Oswald', sans-serif;
    color: #095256;
}

/***** GRID ****/

.full-width {
    width: 1400px;
    margin: 0 auto;
}

.half-width {
    width: 700px;
    float: left;
}

.third-width {
    width: 440px;
    float: left;
}

/***** HEADER *****/

#welcome {
    height: 730px;
    background: url('../img/desk-photo.jpg');
    background-size: cover;
    overflow: auto;
}

#welcome h1 {
    font-size: 60px;
    font-weight: 800;
    width: 900px;
    padding: 60px 0px 0px 20px;
    margin-top: 100px;
    margin-bottom: 0px;
    height: 90px;
    color: #095256;
    line-height: 5px;
    font-family: 'Arvo', serif;
}

#welcome h2 {
    height: 120px;
    width: 680px;
    padding: 0px 0px 0px 15px;
    font-size: 40px;
    text-align: center;
    font-family: 'Arvo', serif;
    font-weight: 200;
    margin-top: 0px;
    word-spacing: 2px;
}

#welcome h1 span {
    color: white;
}

#welcome h2 span {
    color: white;
    text-transform: uppercase;
}

nav {
    float: right;
    padding: 25px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #095256;
    padding-left: 15px;
}

/***** PORTFOLIO *****/

#portfolio {
    height: 1400px;
    background: white;
    clear: both;
}

#portfolio h2 {
    width: 1400px;
    text-align: center;
    font-size: 36px;
}
.jubilee-austen, .rogue-pickings, .holstee-manifesto{
    height: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

.jubilee-austen-image {
    height: 400px;
    margin: 0px 20px 10px 50px;
}

.rogue-pickings-image {
    height: 400px;
    margin: 0px 20px 10px 20px;
}

.holstee-manifesto-image {
    height: 400px;
    margin: 0px 20px 10px 70px;
}

.jubilee-austen-image, .holstee-manifesto-image, .rogue-pickings-image{
    border: 3px solid #087e8b;
    padding: 0;
}
.jubilee-austen p, .rogue-pickings p, .holstee-manifesto p {
    padding: 20px 0px;
}

.jubilee-austen h3, .rogue-pickings h3, .holstee-manifesto h3 {
    padding: 20px 0px;
}

/***** ABOUT *****/

#about-me h2 {
    width: 1400px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 36px;
}

#about-me {
    background: #087e8b;
    height: 500px;
    overflow: hidden;
}

.headshot {
    height: 300px;
    margin: 50px 100px;
}

#personal-story {
    height: 300px;
}

#personal-story h4 {
    font-size: 28px;
    color: white;
    padding-top: 15px;
}

#personal-story p {
    font-size: 24px;
    color: white;
}
/***** FOLLOW *****/

#contact .full-width{
    width: 1400px;
    height: 340px;
    margin: 20px 0px 10px 100px;
    overflow: hidden;
}

#contact {
    border-top: 4px dotted #095256;
}

#contact #hire {
    text-align: center;
}

#contact #meet h4, #contact #meet p {
    text-align: center;
}

#contact a {
    margin: 0px 0px 0px -10px;
}

#contact #follow {
    text-align: center;
}

#contact #meet {
    margin: 0px 20px 0px 108px;
}

#contact h4 {
    font-size: 30px;
    font-weight: bold;
}

#contact ul {
    list-style: none;
    margin: 0px 20px 0px 0px;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    padding: 20px;
}

#contact p {
    font-size: 24px;
}

#contact #copyright p {
    font-size: 15px;
}

#contact #copyright {
    text-align: center;
    width: 1500px;
}

/***** NAV *****/

#nav {
    float: right;
    height: 100px;
}
