/***** BASE STYLES *****/
body {
    font-family: 'Oswald', sans-serif;
    color: #a300cc;
}

/***** GRID ****/

.half-width {
    width: 700px;
    float: left;
}

.third-width {
    width: 440px;
    float: left;
}

/***** HEADER *****/

#nav {
    width: auto;
    height: 50px;
    background-color: #f0f0f0;
}
nav {
    float: left;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
    color: #a300cc;
}

/***** PORTFOLIO *****/

#portfolio {
    height: 2300px;
    background: #f0f0f0;
}

#portfolio h2 {
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
}

#portfolio h3 {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 0px 0px 40px 0px;
}

.jubilee-austen, .rogue-pickings, .holstee-manifesto, .lolcat, .magic8ball{
    height: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

.jubilee-austen-image {
    height: 400px;
    margin: 0px 20px 10px 50px;
}

.rogue-pickings-image {
    height: 400px;
    margin: 0px 20px 10px 20px;
}

.holstee-manifesto-image {
    height: 400px;
    margin: 0px 20px 10px 70px;
}

.lolcat-image {
    height: 400px;
    margin: 0px 20px 10px 40px;
}

.magic8ball-image {
  height: 400px;
  margin: 0px 20px 10px 20px;
}

.jubilee-austen-image, .holstee-manifesto-image, .rogue-pickings-image, .lolcat-image, .magic8ball-image{
    border: 3px dotted #087e8b;
    padding: 1px;
}
.jubilee-austen p, .rogue-pickings p, .holstee-manifesto p, .lolcat p, .magic8bal p {
    padding: 20px 0px;
}

.jubilee-austen h4, .rogue-pickings h4, .holstee-manifesto h4, .lolcat h4, .magic8bal h4 {
    padding: 20px 0px;
    font-size: 30px;
}

/***** FOLLOW *****/


#contact .full-width{
    width: 1400px;
    height: 340px;
    margin: 20px 0px 10px 100px;
    overflow: hidden;
}

#contact {
    border-top: 4px dotted #a3a3c2;
    background: #f0f0f0;
}

#contact #hire {
    text-align: center;
}

#contact #hire h4, #contact #follow h4, #contact #meet h4 {
    color: #a3a3c2;
}

#contact #meet h4, #contact #meet p {
    text-align: center;
}

#contact #hire img {
    padding: 0px 0px 0px 20px;
}

#contact a {
    margin: 0px 0px 0px -10px;
}

#contact #follow {
    text-align: center;
}

#contact #meet {
    margin: 0px 20px 0px 108px;
}

#contact h4 {
    font-size: 30px;
    font-weight: bold;
}

#contact ul {
    list-style: none;
    margin: 0px 20px 0px 0px;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    padding: 20px;
}

#contact p {
    font-size: 24px;
}

#contact #copyright p {
    font-size: 15px;
}

#contact #copyright {
    text-align: center;
    width: 1500px;
}
